<!DOCTYPE html>
<head>
    <title>i.hypr.ax</title>
    <meta name="description" content="Image and file server for Hyperdrive">
    <link rel="stylesheet" type="text/css" href="/static/custom.css">
</head>
<body>
    <h1>i.hypr.ax</h1>
    <p>Image and file hosting and serving + CDN for Hyperdrive.</p>
    <a class="btn" href="discord://open/users/193112730943750144">Discord: Hyperdrive#0001</a>
    <a class="btn" href="https://www.reddit.com/user/Hyperdrive_1">Reddit: u/Hyperdrive_1</a>
</body>
